* {
  box-sizing: border-box;
}

body {
  background-color: #e4e4e4;
}

.box {
  border: 1px solid #000;
  width: 300px;
}
.box-padding {
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 35px;
  padding-left: 10px;
  /* sutrumpinimas pagal laikrodi top, right, bottom, left */
  padding: 20px 50px 35px 10px;
  padding: 30px;
  /* 30px top ir bottom, 50px left ir right */
  padding: 30px 50px;
  /* top, left ir right, bottom */
  padding: 15px 25px 50px;
}
.box-margin {
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 35px;
  margin-left: 10px;
  /* sutrumpinimas pagal laikrodi top, right, bottom, left */
  margin: 20px 50px 35px 10px;
  margin: 30px;
  /* 30px top ir bottom, 50px left ir right */
  margin: 30px 50px;
  /* top, left ir right, bottom */
  margin: 15px 25px 50px;
}
